@import "tailwindcss";

@theme {
  --animate-logo-slider: logo-slider 35s linear infinite;

  @keyframes logo-slider {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

h1 {
  color: black;
}

body {
  background-color: white;
  direction: rtl;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  z-index: 999;
  background-color: #000000 !important;
}